
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;;
}

::-webkit-scrollbar{
    width: 0.5em;
}

::-webkit-scrollbar-track{
    background: #CBA328;
}

::-webkit-scrollbar-thumb{
    background: #1e1e1e;
}

/* HEADER*/

.background-video {
    top: 0;
    left: 0;
    height:100vh;
    overflow: hidden;
}

.background-video video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 10px black;
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}


/* Style the logo */
.logo img {
    margin-top: 15px;
    width: 125px; 
    height: auto;
}

.logo{
    display: flex;
}

/* Style the navigation links */
.nav-links{
    list-style: none;
    display: flex;
}

.nav-links a{
    padding: 10px 15px;
    color: #CBA328;
    font-size: 18px;
    transition: 0.6s ease-in-out;
}

.nav-links a:hover{
    border-bottom: 1px solid #CBA328;
}
.nav-links li {
    margin: 0 50px;
}


.hamburger{
    margin-top: 30px;
    position: absolute;
    display: none;
    cursor: pointer;
}
.bar{
    display: none;
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background: #CBA328;
}
.uvod {
    top: 40%;
    position: absolute;
    text-align: center;
    width: 100%;
}
.uvod p{
    color: #CBA328;
    padding: 10px 0;
    font-weight: 700;
    font-size: 1.5rem;
}
.uvod h1{
    font-weight: 700;
    font-size: 5rem;
}

.section-uvod{
    background: #1e1e1e;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.uvod-article{
    margin: 5% 10%;
    width: 50%;
    text-align: center;
}
.info-container {
margin:0 25px;

}

.info-wrap{
    flex-direction: flex;
    flex-direction: row;
}

.info-container p{
color: #CBA328;
display: inline-block;
box-sizing: border-box;
width: 100%;
padding: 5px 0;
font-size: 15px;
}
@media(max-width: 768px){
    .background-video {
        height: 100vh;
    }
    .section-uvod{
        flex-direction: column;
        align-items: center;
    }
    .uvod-article p{
        margin: 25px -40%;
    }
    .kontakt{
        flex-direction: column;
        gap: 60px;
    }

    .card_container{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .mainproduct{
        flex-direction: column;
        align-items: center;
    }
    .section_product{
        flex-direction: column;
        align-items: center;
    }
    .product h2{
        
        font-size: 24px;
    }
    
    .hamburger{
        position: absolute;
        right: 5%;
        top: 3%;
        display: block;
    }
    .hamburger.active{
        background: none;
        position: absolute;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-links {
        position: absolute;
        width:100%;
        right: 100%;
        top: 0%;
        flex-direction: column;
        text-align: center;
        gap: 50px;
        border-bottom: 1px solid #CBA328;
    }
    .nav-links a{
        color: #CBA328;
        border-bottom: 1px solid #CBA328;
    }

    .nav-links.active{
        background: rgba(0, 0, 0, 0.5) ;
        padding: 50px 0;
        top: 0;
        left: 0;
    }
    .socsite{
        flex-direction: column;
    }
    .uvod{
        width: 100%;
    }
    .uvod h1{
        margin: 0 10px;
        font-size: 2rem;
    }
    .uvod p{
        font-size: 1rem;
    }
    .card-title p{
        margin: 15px 20px;
    }
    .obchodni_podminky-article{
        margin: 0;
    }
    #rezervace{
        left: 20vw;
        top: -25vh;
    }
    .stan img{
        width: 70%;
    }
    .product img{
        width: 100%;
    }
  }


.logo{
    position: absolute;
    width: 125px;
    top: 2%;
    left: 2%;
}


.header-container{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#fffff0 45%,#FFFFFF 100%);
    opacity: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}



.header-container ul{
    display: flex;
    list-style-type: none;
    margin: 0 100px;
    align-content: center;
    padding: 0;
}
.header-container li{
    list-style: none;
    margin: 10px;
}
.header-container li a{
    transition: ease-in-out 0.4s;
    padding: 5px 15px;
}

.header-container li  :hover{
    color: #5C5346;
    transition: 0.8;
}

.header-container nav{
    display: flex;
    align-items: center;
}



/* parametr */
h1{
    font-size: 2.5em;
}
h2{
    font-size: 2em;
    
}
h1,h2{
    color:#CBA328 ;
    margin: 10px 0;
    font-weight: 500;
    
}
p{
    word-spacing: 5px;
    font-weight: 400;
    color: #5C5346;
    font-size: 1em;
}
a{
    font-weight: 500;
    letter-spacing: 5px;
    text-decoration: none;
    font-size: 1.5em;
    color: #CBA328;
}
li{
    list-style: none;
}

/* Main */
/* Section 1*/

.main_container{
    background: #1e1e1e;
    text-align: center;
    padding: 10px 0;
}
.main_section{
    display: flex;
    padding: 50px 0;
    justify-content: space-evenly;
}
.main_section section{
    width: 50%;
}

.article p{
    margin: 0 50px;
    padding: 20px;
}

/* Product section */
.section_product{
    display: flex;
    justify-content: space-evenly;
}
.product{
    flex-direction: column;
    flex-basis: 33%;
    margin: 0 150px;
}
.product img{
    border-radius: 5px;
    transition: 0.6s ease-in-out;
    margin: 20px 0;
}
.product img:hover{
    transition: 0.8s;
    opacity: 0.8;
}
.product p{
    margin: 10px 0;
    color: #CBA328;
    padding-bottom: 13px;
}
.product h2{
    border-bottom: 2px solid #CBA328;
}

.skryto {
    display: none;
}
.animovany-nadpis {
    cursor: pointer;
    transition: ease-in 0.4s;
}
#nadpis{
    margin: 15px 0px;
    padding: 20px 0;
}
  
  .animovany-nadpis:hover {
    color: #CBA328; /* Změníme barvu nadpisu při najetí myší */
    transition: 0.8s;
    opacity: 0.3;
  }
/* MainProduct */

.mainproduct{
    display: flex;
    justify-content: space-around;
}
.divproduct{
    padding: 20px 25px;
    margin: 5% 7%;
    border-radius: 3%;
}
.divproduct a{
    padding: 15px 20px ;
    border-bottom: 1px solid #CBA328;
    margin-top: 50px;
    transition: 0.8s;
}
.divproduct a:hover{
    transition: 1s;
    box-shadow: 0 0 5px 1px #5C5346;
}
.divproduct p {
    color: #CBA328;
}
.divproduct-wrap{
    margin-bottom: 30px;
}
.divproduct h1{
    border-bottom: 1px solid #5C5346;
    padding-bottom: 10px;
}

/* Stan */
.stan{
   margin-top: 100px;  
}

.stan div{
margin: 25px 0;
}

.stan p{
    margin: 10px 0;
    color: #CBA328;
    width: 100%;
    font-size: 15px;
}

/* Rezervace */

.rezervace-container{
    margin-top: 100px;
}
#rezervace{
    border: 1px solid #CBA328;
    padding: 25px 30px;
    margin: 100px 0;
    font-size: 1.5rem;
    transition: ease-in 0.6s;
}

#rezervace:hover{
    border: 1px solid #1e1e1e;
    color: #1e1e1e;
    transition: 1s;
}

/* ASIDE */
.card-title{
    text-align: center;
}
.card_container{
    display: flex;
    margin: 100px 0;
}

.card_container div{
    border-bottom: 1px solid #CBA328;
    padding: 10px;
    border-radius: 5%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 0 12%;
    transition: transform 0.4s ease;
}
.card_container div:hover{
    transform: scale(1.05);
    transition: 0.8s;
}


/* FAQ */


.faq{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

}
.faq div{
    border-bottom: 1px solid #CBA328;
    padding-bottom: 10px;
    width: 75vw;
}
.faq div p{
    padding: 20px 15px;
    margin: 0 20px;
    font-weight: 700;
    font-size: 1.3rem;
}
#arrow{
    cursor: pointer;
    color: #CBA328;
    transition: 0.6s ease;
}
.arrow-up {
    transform: scaleY(-1);
}

/* Contact us */
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1e1e1e;
    padding: 50px 0;
}
.hidden-content{
    display: none;
}

.btn,button,input{
    border-radius:2px;
}
.btn:hover,button:hover{
    background: #1e1e1e;
    color: #CBA328;
    transition: 0.8s ease;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form label{
    color: #CBA328;
    font-weight: 400;
}
.contact-form input,textarea{
    outline: none;
    margin: 10px 0;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 2px;
    transition: 0.4s ease;
    width: 100%;
}
.contact-form input{
    padding: 15px 20px;
}

.contact-form textarea{
    resize:vertical;
    padding: 15px 20px;
}
.contact-form button{
    margin: 20px 0;
    border: none;
    font-size: 18px;
    color: #1e1e1e;
    background: #CBA328;
    font-weight: 700;
    transition: 0.6s ease;
    padding: 20px 35px;
}
/* FOOTER */
.our_section{
    text-align: center;
}
.socsite{
    margin: 50px 0;
}

.socsite a{
    transition: ease-in-out 0.6s;
    margin: 0 30px;
}
.socsite a:hover{
    opacity: 0.5;
    transition: 0.8s;
}


.kontakt{
    padding: 20px 0;
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;
}
.kontakt div{
   border-bottom: 1px solid #CBA328;
   border-radius: 3%;
   margin: auto;
   padding: 10px 20px;
}
.kontakt div p{
    font-size: 24px;
    padding: 15px 0;
}


.footer{
    border-top: 1px solid #CBA328;
    text-align: center;
    margin: 0;
    padding:50px 0;
  }
.footer-wrap{
   display: flex;
   flex-direction: column;
}
.footer-wrap a{
    padding: 10px 0;
}

/* Obchodni-podminky a gdpr */
.obchodni_podminky-container{
    box-sizing: border-box;
    width: 100vw;
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    padding: 150px 0;
}
.obchodni_podminky-container h1{
    text-align: center;
}
.obchodni_podminky-article{
    padding: 0 25vw;
}
/* Galerie */
.main-galery-container{
    text-align: center;
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    box-sizing: border-box;
}
.galery-img-container img{
    border-radius: 5px;
    margin: 0 5px;
}
.main-galery-container section{
    display: flex;
    align-items: center;
    padding: 75px 0;
    border-bottom: 1px solid #CBA328;
}
.main-galery-container div{
    width: 1000px;
    margin: 0 50px;
}
.galery-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #CBA328;
    padding: 100px 0;
}
@media(max-width: 768px){

    .main-galery-container section{
        display: flex;
        flex-direction: column;
    }
    .galery-img-container img{
        width: 150%;
        align-items: center;
        margin: 10px 0;
    }
    .galery-img-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-galery-container div{
        width: 50%;
    }
    .galery-wrap{
        border-right: none;
    }
}

